{% extends "layout.html" %}


{% block styles %}
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
{% endblock %}

{% block content %}

    <!--MModal-->
    <!-- Modal Structure -->
    <div id="modal1" class="modal center-align">
    <div class="modal-content">
      <h1 class = "modal-disclaimer">Disclaimer</h1>
      <p class = "modal-text">This app is still in development. Use at your own risk.</p>

      <a href="/#" class="modal-close modal-button" id="modal-close-btn" onclick="closeModal()">Agree</a>
    </div>
    </div>


    <!--Hero Section-->
    <section class="hero center-align" id = "hero">
        <div class="container">
            <h1 class="hero-title">PREDICT FUTURE WEATHER IN TRINIDAD AND TOBAGO</h1>
            <p class="hero-subtitle">Plan your future activities with confidence — predict the weather for any day based of historical data in Trinidad and Tobago.</p>
          
            <form id = "weatherForm" class="col s12" action="/get_result" method="GET">
                        <div class="row search">
            
                            <div class="input-field col s4 m6">
                                <div class="input-field col s12">
                                    <input type="text" class="datepicker" id="date" name="date" required>
                                    <label for="date" style="color: var(--Black);"><i class="material-icons">today</i>Date</label>

                                </div>
                            </div>

                            <div class="input-field col s4 m6">
                                <select name="location" id="location" required>

                                    <option value="" disabled selected>⚲ Select Location</option>
                                    <option value="0">Arima</option>
                                    <option value="1">Chaguanas</option>
                                    <option value="2">Crown Point</option>
                                    <option value="3">Diego Martin</option>
                                    <option value="4">Penal-Debe</option>
                                    <option value="5">Piaco</option>
                                    <option value="6">Point Fortin</option>
                                    <option value="7">Port of Spain</option>
                                    <option value="8">Princes Town</option>
                                    <option value="9">Rio Claro-Mayaro</option>
                                    <option value="10">San Fernando</option>
                                    <option value="11">San Juan-Laventille</option>
                                    <option value="12">Sangre Grande</option>
                                    <option value="13">Scarborough</option>
                                    <option value="14">Siparia</option>
                                    <option value="15">Talparo</option>
                                </select>
                            </div>
                            
                        
                        <div class="input-field col s4 m6">
                            <button class="btn hero-button" type="submit" name="action" ><i class="material-icons">search</i>Predict
                            </button>
                        </div>
                                
                    </div>
                    </form>
         

        </div>
    </section>

    <!--End Hero Section-->

    <!--About Section-->


    <section class="about center-align hide-on-med-and-down">
        <div class="container">

            <h1 class="about-title">PLAN WITH CONFIDENCE</h1>
            <p class="about-subtitle">Reliable Forecasts for Smarter Decisions</p>
            <p class="about-text">Our advanced weather forecasting platform provides highly accurate, forward-looking predictions tailored for Trinidad and Tobago. With a proven 98.77% accuracy rate, we help you stay ahead of the elements — whether you're planning a beach day, an event, or your week. From sunshine to sudden showers, we've got you covered.</p>
        
        <div class="row">
           <div class ="about-promo col s4 "><i class="material-icons">verified_user</i>450+ Active Users</div>
           <div class ="about-promo col s4 "><i class="material-icons">store</i> 30+ Companies across Trinidad and Tobago</div>
           <div class ="about-promo col s4"><i class="material-icons">date_range</i>4486+ Days Predicted</div>
        </div>
        </div>  
            

    </section>


    <!-- about section mobile-->

    <section class="about center-align hide-on-large-only">
        <div class="container">

            <h1 class="about-title">PLAN WITH CONFIDENCE</h1>
            <p class="about-subtitle">Reliable Forecasts for Smarter Decisions</p>
            <p class="about-text">Our advanced weather forecasting platform provides highly accurate, forward-looking predictions tailored for Trinidad and Tobago. With a proven 98.77% accuracy rate, we help you stay ahead of the elements — whether you're planning a beach day, an event, or your week. From sunshine to sudden showers, we've got you covered.</p>
        
        <div class="col">
            <p class="about-promo"><i class="material-icons">date_range</i>4486+ Days Predicted</p>
            <p class="about-promo"><i class="material-icons">store</i> 30+ Companies across Trinidad and Tobago</p>
            <p class="about-promo"><i class="material-icons">verified_user</i>450+ Active Users</p>
        </div>
        </div>

    </section>
    <!--End About Section-->


    <!--Customer Testimonials-->
    <section class="testimonials center-align hide-on-med-and-down">
        <div data-aos="fade-up">
            <div class="container">
                <h1 class="testimonials-title">WHAT OUR USERS SAY</h1>
                <p class="testimonials-subtitle">Real Feedback from Real Users</p>
                <div class="row">
                    <div class="col s4">
                        <div class="card white center-align">
                            <div class="card-content white-text">
                            <span class="card-title center-align">— Kwasi E., Gasparillo</span>
                            <p class ="card-content">"A highly Effective Tool"</p>
                            <p class ="card-content">"I used to get caught in the rain all the time, but since I started using TT Weather Predict, I've been able to plan my day perfectly. The predictions are incredibly accurate and easy to understand. I highly recommend it to anyone who needs reliable weather information!"</p>
                            <p class ="card-content"><i class="material-icons">stars</i><i class="material-icons">stars</i><i class="material-icons">stars</i><i class="material-icons">stars</i><i class="material-icons">stars</i></p>
                            </div>
                            
                        </div>
                    </div>  

                 
              
                    <div class="col s4">
                        <div class="card white center-align">
                            <div class="card-content white-text">
                            <span class="card-title">— Aaliyah S., San Fernando</span>
                            <p class ="card-content">"This site is a game changer!"</p>
                            <p class ="card-content">As a busy mom, I need reliable weather info to plan our family outings. This site nails it every time — from sunny picnics to rainy days, I can trust the forecasts completely.</p>
                            <p class ="card-content"><i class="material-icons">stars</i><i class="material-icons">stars</i><i class="material-icons">stars</i><i class="material-icons">stars</i><i class="material-icons">stars</i></p>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col s4">
                        <div class="card white center-align">
                            <div class="card-content white-text">
                            <span class="card-title ">— Priya R., Chaguanas</span>
                            <p class ="card-content">"Finally, a forecast I can plan around"</p>
                            <p class ="card-content">I’m a teacher and mom, so I need to plan school runs, errands, and weekend activities. This site’s future forecasts are incredibly accurate — I even planned a birthday party outdoors based on its 5-day outlook. Not a single drop of rain. Love it!</p>
                            <p class ="card-content"><i class="material-icons">stars</i><i class="material-icons">stars</i><i class="material-icons">stars</i><i class="material-icons">stars</i><i class="material-icons">stars</i></p>
                            </div>
                            
                        </div>
                    </div>


                </div>


            </div>

        </div>  
    </section>
    <!--End Customer Testimonials-->

    <!--Customer Testimonal Mobile/small  Section-->
    <section class="testimonials-mobile center-align hide-on-large-only">
        <div class="container">
            <h1 class="testimonials-title">WHAT OUR CUSTOMERS SAY</h1>
            <div class="row">
                <div class="col s12">
                    <div class="card white">
                        <div class="card-content white-text">
                            <span class="card-title">— John D., Port of Spain</span>
                            <p class ="card-content">"This site is a lifesaver!"</p>
                            <p class ="card-content">I run a small catering business, and weather is everything. This site predicted a storm three days in advance, while other apps showed clear skies. I rescheduled the event, and sure enough, it poured. That kind of foresight is priceless. I trust it completely now.</p>
                            <p class ="card-content"><i class="material-icons">stars</i><i class="material-icons">stars</i><i class="material-icons">stars</i><i class="material-icons">stars</i><i class="material-icons">stars</i></p>
                        </div>

                    </div>
                </div>


                <div class="col s12">
                    <div class="card white">
                        <div class="card-content white-text">
                            <span class="card-title">— Aaliyah S., San Fernando</span>
                            <p class ="card-content">"This site is a game changer!"</p>
                            <p class ="card-content">As a busy mom, I need reliable weather info to plan our family outings. This site nails it every time — from sunny picnics to rainy days, I can trust the forecasts completely.</p>
                            <p class ="card-content"><i class="material-icons">stars</i><i class="material-icons">stars</i><i class="material-icons">stars</i><i class="material-icons">stars</i><i class="material-icons">stars</i></p>
                        </div>

                    </div>
                </div>
                <div class="col s12">
                    <div class="card white">
                        <div class="card-content white-text">
                            <span class="card-title">— Priya R., Chaguanas</span>
                            <p class ="card-content">"Finally, a forecast I can plan around"</p>
                            <p class ="card-content">I’m a teacher and mom, so I need to plan school runs, errands, and weekend activities. This site’s future forecasts are incredibly accurate — I even planned a birthday party outdoors based on its 5-day outlook. Not a single drop of rain. Love it!</p>
                            <p class ="card-content"><i class="material-icons">stars</i><i class="material-icons">stars</i><i class="material-icons">stars</i><i class="material-icons">stars</i><i class="material-icons">stars</i></p>
                        </div>

                    </div>
                </div>


            </div>


        </div>

    </section>
    <!--End Customer Testimonials-->

    <!--Explore our Models Section-->
    <section class="explore hide-on-med-and-down" id = "explore">
        <div data-aos="fade-left">
            <div class="container explore-container ">
                <h1 class="explore-title">SEE WHY OUR PREDICTIONS ARE ACCURATE</h1>
                <div class="row">
                    <div class="col s6">
                    <p class="explore-text">Explore interactive charts and graphs that reveal how weather patterns have changed over time in Trinidad and Tobago. Our visualizations include temperature trends, rainfall distribution, seasonal shifts, and comparisons between predicted and actual weather.</p>

                    <a href="/model-showcase"><button class="btn explore-button">Learn more →</button></a>

                    </div>  

                    <div class="col s6 right-align">
                        <img src="{{ url_for('static', filename='assets/BaseImages/newplot.webp') }}" alt="Weather Prediction Model Visualization" class="responsive-img">
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!--End Explore our Models Section-->


    <!--Explore our Models Section Mobile-->

    <section class="explore hide-on-large-only" id="explore-mobile">
        <div class="container explore-container">
            <h1 class="explore-title">SEE WHY OUR PREDICTIONS ARE ACCURATE</h1>
            <div class="row">
                <div class="col s12">
                    <p class="explore-text">Explore interactive charts and graphs that reveal how weather patterns have changed over time in Trinidad and Tobago. Our visualizations include temperature trends, rainfall distribution, seasonal shifts, and comparisons between predicted and actual weather.</p>

                    <a href="/model-showcase"><button class="btn explore-button">Learn more →</button></a>
                </div>
            </div>
        </div>


    </section>
    <!--End Explore our Models Section Mobile-->

    <!--Build off our Data/ Explore our Visualizations Section-->
    
    <section class="visualizations hide-on-med-and-down" id="visualizations">
        <div data-aos="fade-right">
            <div class="container visualizations-container right-align">
                <h1 class="visualizations-title">EXPLORE OUR VISUALIZATIONS</h1>

                <div class="row">
                    <div class="col s6">
                        <img src="{{ url_for('static', filename='assets/BaseImages/output.png') }}" alt="Weather Prediction Model Visualization" class="responsive-img-visualizations">
                    </div>

                    <div class="col s6">
                    <p class="explore-text">Our weather prediction model is built on a foundation of advanced machine learning algorithms, trained on extensive historical weather data from Trinidad and Tobago. By analyzing patterns and trends, we deliver forecasts with an impressive 98.77% accuracy rate, empowering you to make informed decisions for your daily activities.</p>

                    <a href="/data-visualization"><button class="btn explore-button">Learn more →</button></a>

                    </div>  
            
                </div>
            </div>
        </div>
    </section>
    <!--End Build off our Data/ Explore our Visualizations Section-->


    <!--Explore our data Mobile -->

    <section class="explore hide-on-large-only" id="explore-mobile">
        <div class="container explore-container">
            <h1 class="explore-title">SEE WHY OUR PREDICTIONS ARE ACCURATE</h1>
            <div class="row">
                <div class="col s12">
                    <p class="explore-text">Explore interactive charts and graphs that reveal how weather patterns have changed over time in Trinidad and Tobago. Our visualizations include temperature trends, rainfall distribution, seasonal shifts, and comparisons between predicted and actual weather.</p>

                    <a href="/data-visualization"><button class="btn explore-button">Learn more →</button></a>
                </div>
            </div>
        </div>


    </section>
    <!--End Explore our Models Section Mobile-->

    <!--Call to Action-->

    <section class="call-to-action center-align hide-on-med-and-down" id="call-to-action">
        <div class="container">
            <h1 class="cta-title">#PLAN WITH CONFIDENCE</h1>
            <p class="cta-subtitle">Experience the power of accurate weather predictions for Trinidad and Tobago.</p>
            <div class="row">
                <a href="#hero"><button class="btn cta-main-button">Try Predictor</button></a>
                <a href="/TermsAndConditions"><button class="btn cta-secondary-button">Terms and Conditions</button></a>
            </div>
        </div>


    </section>

    <!--Call to Action Mobile-->
      <section class="call-to-action center-align hide-on-large-only" id="call-to-action">
        <div class="container">
            <h1 class="cta-title">#PLAN WITH CONFIDENCE</h1>
            <p class="cta-subtitle">Experience the power of accurate weather predictions for Trinidad and Tobago.</p>
            <div class="row">
                <a href="#hero"><button class="btn cta-main-button">Try Predictor</button></a>
                <a href="/TermsAndConditions"><button class="btn cta-secondary-button">Terms and Conditions</button></a>
            </div>
        </div>


    </section>

   

    <!--End Call to Action-->

{% endblock %}