<!doctype html>
<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">

        <title>TT Weather Predict</title>
        <style>
            .return-to-top {
                display: block; 
                text-align: center;
                color: #082745; 
                text-decoration: none; 
                margin: 100px; 
                font-size: 1.5em; 
            }

            .return-to-top:hover {
                color: #082745; 
                text-decoration: underline; 
            }

            .text {
    margin-bottom: 50px; 
}
        </style>
    </head>
<body>
    <div class="navbar-fixed">

    <nav>
        <div class="nav-wrapper" style="background-color: white;">
            <a href="#" class="brand-logo" style="padding-left: 20px; font-family: Montserrat; font-weight: bold; color: black;">
                TT Weather Predict
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/" style="font-weight: bold; color: black;">Try Predictor</a></li>
            </ul>
        </div>
    </nav>
    </div>

    <section>
        <h1 class="main-title" style="text-align: center; font-family: Montserrat; font-weight: bold; color: #082745;">Terms and Conditions</h1>


        <h3 class="subtitle" style="padding-left: 200px;font-family: Montserrat; font-weight: bold; color: #082745;">1. Prediction Accuracy:</h3>
         <p class =  "text" style="padding-left: 200px;padding-right: 200px;font-family: Montserrat; font-weight: bold; color: #000000;">Our predictor may produce inaccurate or incomplete data. Please consult authoritative and official sources for critical or time-sensitive dates. Predictions are based on statistical models and may not account for sudden or unexpected weather events. Exercise caution when planning significant activities based solely on our forecasts.</p>
        <h3 class="subtitle" style="padding-left: 200px;font-family: Montserrat; font-weight: bold; color: #082745;">2. Data Collection and Usage:</h3>
        <p class =  "text" style="padding-left: 200px;padding-right: 200px;font-family: Montserrat; font-weight: bold; color: #000000;">We do not actively measure or collect data in real-time. Our predictions rely solely upon historical data, and as such, they may not reflect current or future conditions accurately. Data used in predictions may also include synthetic or extrapolated datasets to fill in missing information.</p>

        <h3 class="subtitle" style="padding-left: 200px;font-family: Montserrat; font-weight: bold; color: #082745;">3. Time Series Limitations:</h3>
        <p class =  "text" style="padding-left: 200px;padding-right: 200px;font-family: Montserrat; font-weight: bold; color: #000000;">Time series predictions become increasingly uncertain as the prediction timeframe extends further into the future. Our data is only accurate up to 14th May 2025, and any predictions beyond this date should be treated with caution. The reliability of predictions may decrease rapidly for dates further in the future, especially during volatile weather seasons.</p>   
        
        <h3 class="subtitle" style="padding-left: 200px;font-family: Montserrat; font-weight: bold; color: #082745;">4. Data Sources and Verification:</h3>
        <p class =  "text" style="padding-left: 200px;padding-right: 200px;font-family: Montserrat; font-weight: bold; color: #000000;">All data utilized in our predictions is sourced from publicly available historical records. We do not guarantee the accuracy, completeness, or timeliness of data provided by third-party sources. Users should verify data with local meteorological agencies to ensure comprehensive and current information.</p>
   
        <h3 class="subtitle" style="padding-left: 200px;font-family: Montserrat; font-weight: bold; color: #082745;">5. Intended Use:</h3>
        <p class =  "text" style="padding-left: 200px;padding-right: 200px;font-family: Montserrat; font-weight: bold; color: #000000;">TThis service is designed for informational purposes only and should not be used as the sole basis for critical decision-making, especially in areas such as emergency planning, travel arrangements, or property management. Always cross-reference our predictions with official weather services to mitigate risks associated with potential inaccuracies.</p>
    
        <h3 class="subtitle" style="padding-left: 200px;font-family: Montserrat; font-weight: bold; color: #082745;">6. Limitation of Liability:</h3>
        <p class =  "text" style="padding-left: 200px;padding-right: 200px;font-family: Montserrat; font-weight: bold; color: #000000;">TT Weather Predict is not responsible for any financial losses, damages, or inconveniences arising from the use of predictions provided by this service. Users are encouraged to verify all predictions with trusted weather authorities. We disclaim liability for any actions taken based on data provided by our system, particularly in scenarios involving potential harm or risk.</p>
    
        <h3 class="subtitle" style="padding-left: 200px;font-family: Montserrat; font-weight: bold; color: #082745;">7. Data Retention and Updates:</h3>
        <p class =  "text" style="padding-left: 200px;padding-right: 200px;font-family: Montserrat; font-weight: bold; color: #000000;">Data used in predictions is retained only for the duration necessary to provide forecasting services and may not be updated regularly. Users should consult official sources for the most current information. Additionally, data may be archived for analytical purposes, but it is not actively monitored for ongoing accuracy.

        </p>

        <h3 class="subtitle" style="padding-left: 200px;font-family: Montserrat; font-weight: bold; color: #082745;">8. Severe Weather Events:</h3>
        <p class =  "text" style="padding-left: 200px;padding-right: 200px;font-family: Montserrat; font-weight: bold; color: #000000;">Our system is not designed to predict extreme weather events such as hurricanes, tropical storms, or earthquakes. These phenomena are complex and require specialized data and forecasting models beyond the scope of our service. Users should refer to official meteorological and geological authorities for accurate and timely warnings regarding such events. TT Weather Predict disclaims any liability for damages, injuries, or losses resulting from reliance on our predictions in the context of severe or catastrophic weather conditions.</p>
    
        <h3 class="subtitle" style="padding-left: 200px;font-family: Montserrat; font-weight: bold; color: #082745;">9. User Agreement:</h3>
        <p class =  "text" style="padding-left: 200px;padding-right: 200px;font-family: Montserrat; font-weight: bold; color: #000000;">By using this service, you acknowledge and agree that the predictions are based on historical data and are inherently limited in accuracy. You accept all risks associated with relying on these predictions. Continued use of our services indicates acceptance of these terms, including the understanding that the predictions are not definitive and may be subject to revision without notice.</p>


        <h3 class="subtitle" style="padding-left: 200px;font-family: Montserrat; font-weight: bold; color: #082745;">10. Data Science Model – XGBoost:</h3>
        <p class =  "text" style="padding-left: 200px;padding-right: 200px;font-family: Montserrat; font-weight: bold; color: #000000;">The predictions provided by TT Weather Predict are powered by the XGBoost algorithm, a popular and robust machine learning model known for its accuracy and efficiency in handling large datasets. XGBoost is a gradient-boosting framework that combines the strengths of multiple decision trees to improve prediction performance. It is highly effective at handling nonlinear relationships and can efficiently process time-series data, making it suitable for predicting weather patterns based on historical records. While XGBoost enhances the accuracy of predictions, it is still limited by the availability and quality of input data, and users are encouraged to consider this when making decisions based on our forecasts.</p>
        
        <h3 class="subtitle" style="padding-left: 200px;font-family: Montserrat; font-weight: bold; color: #082745;">11. Developed by:</h3>
        <p class =  "text" style="padding-left: 200px;padding-right: 200px;font-family: Montserrat; font-weight: bold; color: #000000;">This app was developed by Lillian Charles, Caleb Ramdath, and Jordhan Courteu as part of our Big Data course project. The goal of this project is to explore and apply machine learning models, such as XGBoost, in real-world scenarios to predict weather patterns and improve data-driven decision-making. The team has worked diligently to build a user-friendly interface and robust backend system to deliver weather predictions based on historical data, ensuring a valuable learning experience for all involved. Any feedback on the app's functionality or performance is greatly appreciated as we continue to improve our model.</p>
        
        <h6 class="subtitle" style="text-align: center;font-family: Montserrat; font-weight: bold; color: #082745;">Github Repo</h6>
        <p class =  "text" style="text-align: center;font-family: Montserrat; font-weight: bold; color: #000000;">https://github.com/Trasmonaut/COMP-3610-Big-Data.git</p>
        
        <a href="#" class="return-to-top">
            Return to top
        </a>
    </section>  

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>