<!doctype html>
<html lang="en">
    <head>
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">


        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content="Predictive Weather Analysis of Trinidad and Tobago. Predict Weather in Triniad and Tobago with 98% accuracy.">
        <meta name="author" content="Trasmonaut">
        <title>TT Weather Predict</title>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='terms.css') }}">
        <script src="{{ url_for('static', filename='index.js') }}" defer></script>
        <link rel="icon" href="{{ url_for('static', filename='assets/BaseImages/logo.ico') }}" type="image/x-icon">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Amiko:wght@400;600;700&family=Anuphan:wght@100..700&family=Jura:wght@300..700&display=swap" rel="stylesheet">        

        <title>TT Weather Predict</title>
   
    </head>
<body>
    <!--Nav Section-->
    <div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper n  white">
        <a href="/"  class="title">TT Weather Predict</h1></a>
        <a href="/" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons" style="color: black;">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down ">

                <li><a href="/#explore" class="nav-headings nav-main-buttons btn">How It Works</a></li>
                <li><a href="/#visualizations" class="nav-headings nav-main-buttons btn">Visualizations</a></li>
                <li><a href="/TermsAndConditions" class="nav-headings nav-main-buttons btn">Terms and Conditions</a></li>
                <li><a href = "/" class="nav-headings nav-action-button btn">Try Predictor</a></li>

        </ul>
        </div>
    </nav>
    </div>

    <ul class="sidenav" id="mobile-demo">
        <li><a href="/#explore" class="nav-headings nav-main-buttons btn">How It Works</a></li>
        <li><a href="/#visualizations" class="nav-headings nav-main-buttons btn">Visualizations</a></li>
        <li><a href="/TermsAndConditions" class="nav-headings nav-main-buttons btn">Terms and Conditions</a></li>
        <li><a  href = "/" class="nav-headings nav-action-button btn">Try Predictor</a></li>

    </ul>
    </div>
    <!--End Nav Section-->
    <section class ="about">

        <div class="row">
        <h1 class="about-title">TERMS AND CONDITIONS<h1>
        <p class="about-content">Please read these terms and conditions carefully before using our weather prediction service.</p>

        </div>
    </section>
    <section>
        <div class = "container terms-white">
            <h2 class="term-title">1. Prediction Accuracy:</h2>
            <p class="term-content">Our predictor may produce inaccurate or incomplete data. Please consult authoritative and official sources for critical or time-sensitive dates. Predictions are based on statistical models and may not account for sudden or unexpected weather events. Exercise caution when planning significant activities based solely on our forecasts.</p>
        </div>


        <div class="container terms-white">
            <h2 class="term-title">2. Data Collection and Usage:</h2>
            <p class="term-content">We do not actively measure or collect data in real-time. Our predictions rely solely upon historical data, and as such, they may not reflect current or future conditions accurately. Data used in predictions may also include synthetic or extrapolated datasets to fill in missing information.</p>
        </div>


        <div class="container terms-white">
            <h2 class="term-title">3. Time Series Limitations:</h2>
            <p class="term-content">Time series predictions become increasingly uncertain as the prediction timeframe extends further into the future. Our data is only accurate up to 14th May 2025, and any predictions beyond this date should be treated with caution. The reliability of predictions may decrease rapidly for dates further in the future, especially during volatile weather seasons.</p>
        </div>

        <div class="container terms-white">
            <h2 class="term-title">4. Data Sources and Verification:</h2>
            <p class="term-content">All data utilized in our predictions is sourced from publicly available historical records. We do not guarantee the accuracy, completeness, or timeliness of data provided by third-party sources. Users should verify data with local meteorological agencies to ensure comprehensive and current information.</p>
        </div>

        <div class="container terms-white">
            <h2 class="term-title">5. Intended Use:</h2>
            <p class="term-content">This service is designed for informational purposes only and should not be used as the sole basis for critical decision-making, especially in areas such as emergency planning, travel arrangements, or property management. Always cross-reference our predictions with official weather services to mitigate risks associated with potential inaccuracies.</p>
        </div>

        <div class="container terms-white"> 
            <h2 class="term-title">6. Limitation of Liability:</h2>
            <p class="term-content">TT Weather Predict is not responsible for any financial losses, damages, or inconveniences arising from the use of predictions provided by this service. Users are encouraged to verify all predictions with trusted weather authorities. We disclaim liability for any actions taken based on data provided by our system, particularly in scenarios involving potential harm or risk.</p>
        </div>

        <div class="container terms-white">
            <h2 class="term-title">7. Data Retention and Updates:</h2>
            <p class="term-content">Data used in predictions is retained only for the duration necessary to provide forecasting services and may not be updated regularly. Users should consult official sources for the most current information. Additionally, data may be archived for analytical purposes, but it is not actively monitored for ongoing accuracy.</p>
        </div>

        <div class="container terms-white">
            <h2 class="term-title">8. Severe Weather Events:</h2>
            <p class =  "term-content">Our system is not designed to predict extreme weather events such as hurricanes, tropical storms, or earthquakes. These phenomena are complex and require specialized data and forecasting models beyond the scope of our service. Users should refer to official meteorological and geological authorities for accurate and timely warnings regarding such events. TT Weather Predict disclaims any liability for damages, injuries, or losses resulting from reliance on our predictions in the context of severe or catastrophic weather conditions.</p>
        </div>

        <div class="container terms-white">
            <h2 class="term-title">9. User Agreement:</h2>
            <p class =  "term-content">By using this service, you acknowledge and agree that the predictions are based on historical data and are inherently limited in accuracy. You accept all risks associated with relying on these predictions. Continued use of our services indicates acceptance of these terms, including the understanding that the predictions are not definitive and may be subject to revision without notice.</p>
        </div>

        <div class="container terms-white">
            <h2 class="term-title">10. Data Science Model – XGBoost:</h2>
            <p class =  "term-content">The predictions provided by TT Weather Predict are powered by the XGBoost algorithm, a popular and robust machine learning model known for its accuracy and efficiency in handling large datasets. XGBoost is a gradient-boosting framework that combines the strengths of multiple decision trees to improve prediction performance. It is highly effective at handling nonlinear relationships and can efficiently process time-series data, making it suitable for predicting weather patterns based on historical records. While XGBoost enhances the accuracy of predictions, it is still limited by the availability and quality of input data, and users are encouraged to consider this when making decisions based on our forecasts.</p>
        </div>

        <div class="container terms-white">
            <h2 class="term-title">11. Developed by:</h2>
            <p class =  "term-content">This app was orignally developed by Lillian Charles, Caleb Ramdath, and Jordhan Courteu as part of our Big Data course project. Caleb Ramdath took this project and rebuilt it from the ground up, and that is what youre seeing here.The goal of this project is to explore and apply machine learning models, such as XGBoost, in real-world scenarios to predict weather patterns and improve data-driven decision-making. The team has worked diligently to build a user-friendly interface and robust backend system to deliver weather predictions based on historical data, ensuring a valuable learning experience for all involved. Any feedback on the app's functionality or performance is greatly appreciated as we continue to improve our model.</p>

        </div>

        <div class="container center return-button">
            <a href="/"><button class="btn cta-main-button">Try Predictor</button></a>
        </div>
        
    </section>  

    <!--Footer Section-->
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col s6">
                    <p class="footer-title">TT Weather Predict</p>
                    <p class="footer-subtitle">Predictive Weather Analysis of Trinidad and Tobago. Predict Weather in Trinidad and Tobago with 98% accuracy.</p>
                </div>

        
                <div class="col s6">
                    <ul class="footer-links">
                        <li><a href="#explore" class="footer-link">How It Works</a></li>
                        <li><a href="#visualizations" class="footer-link">Visualizations</a></li>
                        <li><a href="/TermsAndConditions" class="footer-link">Terms and Conditions</a></li>
                        <li><a href="https://tally.so/r/wbJANe" class="footer-link">Contact</a></li>
                        <li><a href="https://github.com/Trasmonaut/Predictive-Weather-Analysis-of-Trinidad-and-Tobago-Expanded" class="footer-link">Github</a></li>
                    </ul>

                </div>
            </div>
            <div class="row">
                <div class="col s12 right-align">
                    <p class="footer-bottom-text">© 2024 TT Weather Predict. All rights reserved. Made by Trasmonaut, AKA Caleb Ramdath</p>

                </div>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>