
.text {
margin-bottom: 50px; 
}


.cta-main-button{
    background-color: var(--Accent-Main);
    
    font-weight: bold;
    color: var(--white);
    border-radius: 8px;
    box-shadow: none;
    border-width:1px;
    border-style: solid;
    border-color: var(--white);
    box-shadow: none;
}

.cta-main-button:hover{
    background-color: var(--Accent-Main);
    box-shadow: none;
    transform: scale(1.05);
}

.return-button-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}



.warning-title{
    font-family: 'Amaranth';
    font-weight: bold;
    font-size: 48px;
    color: var(--Black);
}

.table-header{
    font-family: 'Amiko';
    font-weight: bold;
    font-size: 16px;
    color: var(--Black);
    
}

.table-content{
    font-family: 'Amiko';
    font-size: 16px;
    color: var(--Black);
}

.results-title{
    font-family: 'Amaranth';
    font-weight: bold;
    font-size: 48px;
    color: var(--Black);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.results-table tr:nth-child(1) {
    background-color: rgba(41, 178, 96, 0.2);
}

.results-table .table-header {
   background-color: var(--white) !important;
}

.Warnings, .results{
    margin-top: 50px;
}

.week-card{
    padding: 50px 0;
    border: 1px solid transparent !important;
    border-radius: 8px;

}

.watermark-text{
    color: var(--white);
    font-size: 12px;
}


.week-card:hover{
    transform: scale(1.10);
}

.week-summary-cards {
    display: flex;
    flex-wrap: nowrap;       /* force one line */
    gap: 10px;
    padding: 10px;         /* optional, for some horizontal padding */
    overflow-x: auto;        /* allows scroll if needed */
    
}

.week-summary-cards .col {
    flex: 0 0 calc(100% / 9);  /* exactly 9 cards */
    max-width: calc(100% / 9);
    padding: 0;
}
.week-card-title{
    font-family: 'Amiko';
    font-weight: bold;
    font-size: 16px;
    color: var(--Black);
}

.week-card-summary-text{
    font-family: 'Amiko';
    font-size: 16px;
    font-weight: bold;

}

.week-card-summary-text:nth-child(2){
    color: #b90000 !important;
}

.week-card-summary-text:nth-child(3){
    color: #005870 !important;
}


.main-results-section {
    height: 70vh;
  
    padding: 70px 20px 0px 20px;
    margin-bottom: 50px;    
}

.main-results-default{
    background-image: url(/static/assets/BackgroundImages/default.webp);
    background-size: cover;
    background-position: center;
     height:auto;
}

.main-results-overcast{
    background-image: url(/static/assets/BackgroundImages/overcast.webp);
    background-size: cover;
    background-position: center;
    height:auto;
}

.main-results-rain{
    background-image: url(/static/assets/BackgroundImages/rain.webp);
    background-size: cover;
    background-position: center;
    height:auto;
}

.main-results-sunny{
    background-image: url(/static/assets/BackgroundImages/sunny.webp);
    background-size: cover;
    background-position: center;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-results-humid{
    background-image: url(/static/assets/BackgroundImages/humid.webp);
    background-size: cover;
    background-position: center;
     height:auto;
}

.main-results-cloudy{
    background-image: url(/static/assets/BackgroundImages/cloudy.webp);
    background-size: cover;
    background-position: center;
     height:auto;
}

.date{
    font-family: 'Amiko';
    font-size:16px;
    color: var(--white);

}
.location-date-table {
  border-collapse: collapse;
  border-color: transparent !important;

}
.location-date-table td, .location-date-table tr {
   border: none !important;
   display: inline-block;
   justify-content: flex-end;
   padding-bottom: 0;
   padding-top: 0;
}

.location{
    font-family: 'Amaranth';
    font-weight: bold;
    font-size: 48px;
    color: var(--white);
    text-transform: uppercase;
}

.time{
    font-family: 'Amiko';
    font-size: 16px;
    color: var(--white);
   
}

.sunrise-sunset-table {
    width: 30%;
    border-collapse: collapse;
    border-color: transparent !important;
    padding: 0px;
}

.sunrise-sunset-table tr, .sunrise-sunset-table td {
    border: none !important;
    text-align: left;
    padding: 8px;
    font-family: 'Amiko';
    font-size: 16px;
    color: var(--white);
    
}

.mainDescription {
    font-family: 'Amiko';
    font-size: 28px;
    color: var(--white);
    font-style: bolder;
}

.detailedDescription {
    font-family: 'Amiko';
    font-size: 18px;
    color: var(--white);

}

.hero-button{
    background-color: var(--DarkGreen);
    width: 100%;
    font-family: 'Jura';
    font-weight: bold;
    color: var(--white);
    border-radius: 8px;
    box-shadow: none;
}

.hero-button:hover{
    background-color: var(--Accent-Dark);
    box-shadow: none;
    transform: scale(1.02);
}

.hero-button:active{
    background-color: var(--Accent-Dark);
    box-shadow: none;
    transform: scale(0.98);
}




.main-weather-details-title {
    font-family: 'Amiko';
    font-size: 14px;
    color: var(--white);
}

.main-weather-details{
    font-family: 'Amiko';
    font-size: 22px;
    color: var(--white);
}

.main-weather-table {
    margin-top:auto;
    background-color: rgba(7, 13, 8, 0.9);
    border-radius: 6px;
}

.main-weather-table td, .main-weather-table tr {
    width: 50px;
    justify-content: flex-end;
    padding-bottom: 0;
    padding-top: 5px;
    
}

.main-weather-table tr:nth-child(even), .main-weather-table tr:nth-child(even) td {
    border-bottom: 1px solid rgba(255,255,255,0.3);
}

.main-weather-table tr:first-child, .main-weather-table tr:first-child td {
    padding-top: 20px;
}

.main-weather-table tr:last-child, .main-weather-table tr:last-child td {
    padding-bottom: 20px;
    border-bottom: none;
}

.icons{
    color: var(--white);
}

.mobile-results-date{
    font-family: 'Amiko';
    font-size: 16px;
    color: var(--Black);
    text-align: center;
    margin-bottom: 20px;
}


.mobile-results-main-description{
    font-family: 'Amiko';
    font-size: 32px;
    color: var(--Black);
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.mobile-results-detailed-description{
    font-family: 'Amiko';
    font-size: 16px;
    color: var(--Black);
    text-align: center;
    margin-bottom: 20px;
}


.mobile-results-main-weather{
    font-family: 'Amiko';
    font-size: 64px;
    color: var(--Accent-Main);
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.mobile-results-sub-weather, .mobile-results-sub-heading{
    font-family: 'Amiko';
    font-size: 24px;
    color: var(--Black);
    text-align: center;
    margin-bottom: 20px;
}

.mobile-results-sub-heading{
    text-align: center;
    font-size: 16px;
}

.mobile-results-table-details{
    font-family: 'Amiko';
    font-size: 16px;
    color: var(--Black);

}